.footer {
  width: 282px;
  padding: 18px 0 0;
  color: #545454;
}

.footer__text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .footer__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    top: 113px;
  }
}
