.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  gap: 51px;
  width: 100%;
  justify-content: center;
  max-width: 880px;
  width: 100%;
  position: relative;
  /* margin: 0 auto;*/
  margin: 0; /* Убираем все внешние отступы */
  padding: 0 20px; /* Оставляем padding для мобильных устройств */
}

.header__logo {
  height: 33px;
  width: 173px;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 41px;
  margin-left: 2%;
}

@media screen and (max-width: 1100px) {
  .header {
    max-width: calc(100% - 40px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .header {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .header__logo {
    max-width: 150px;

    margin-bottom: 32px;
  }
}
