.header {
  display: flex;
  padding-top: 45px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 480px) {
  .header {
    padding-top: 28px;
    padding-left: 27px;
    max-width: 100%;
    padding-bottom: 0;
  }

  .header__logo {
    max-width: 126px;
    margin-bottom: 32px;
  }
}
