.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.5);
  gap: 51px;
}

.header__logo {
  max-width: 880px;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .header__logo {
    max-width: 300px;
  }
}
