.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  padding: 0 19px;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  padding: 36px 20px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  max-width: 100%;
  box-sizing: border-box;
  width: 425px;
  height: 330px;
  margin-top: 195px;
  margin-bottom: 195px;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background-image: url("../images/Close\ Icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__heading {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 54px;
  text-align: left;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal__form input {
  width: 358px;
  height: 27px;
  font-size: 14px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #cccccc;
  background-color: transparent;
  box-sizing: border-box;
}

.modal__save-button {
  width: 358px;
  height: 50px;
  background-color: black;
  color: #fff;
  font-size: 22px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 37px;
}

@media screen and (max-width: 480px) {
  .modal__container {
    width: 90%;
    padding: 20px;
    margin: 123px auto;
  }

  .modal__heading {
    font-size: 18px;
    margin-bottom: 75px;
  }

  .modal__save-button {
    font-size: 14px;
    height: 46px;
    width: 238px;
  }

  .modal__form input {
    width: 238px;
    font-size: 14px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    top: -26px;
    right: -26px;
  }
}

@media screen and (max-width: 390px) {
  .modal__container {
    width: 282px;
    height: 322px;
    padding: 20px;
    margin: 123px 19px;
  }

  .modal__heading {
    margin-bottom: 75px;
    font-size: 18px;
    line-height: 22px;
  }

  .modal__save-button {
    font-size: 14px;
    height: 46px;
    width: 238px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
  }

  .modal__form input {
    width: 238px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .modal__container {
    margin: 195px auto;
    width: 425px;
  }
}
