.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  padding: 0 19px;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  padding: 36px 20px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  box-sizing: border-box;
  width: 430px;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url("../images/Close\ Icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.modal__heading {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 54px;
  text-align: left;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px; /* расстояние между полями и кнопкой Save */
}

.modal__form input {
  width: 358px;
  height: 27px;
  font-size: 14px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #cccccc;
  background-color: transparent;
  box-sizing: border-box;
}

.modal__save-button {
  width: 358px;
  height: 50px;
  background-color: black;
  color: #fff;
  font-size: 22px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.modal__save-button:hover {
  background-color: #333;
}

@media screen and (max-width: 480px) {
  .modal__container {
    width: 282px;
    height: 322px;
    margin: 123px auto 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* <-- добавляем */
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
  }

  .modal__heading {
    font-size: 18px;
    margin: 0;
    text-align: center;
  }

  .modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin-top: 20px;
  }

  .modal__form input {
    width: 238px;
    height: 27px;
    font-size: 14px;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid #cccccc;
    background-color: transparent;
    box-sizing: border-box;
  }

  .modal__save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: auto; /* чтобы кнопка уходила вниз */
  }

  .modal__close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: -26px;
    right: -26px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
